.login-body {
    background: url(../Login/login-background-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
    min-width: 100vw;
}